@media only screen and (min-width:992px) and (max-width:1200px) {
    .menu-icons {
        margin-left: 39px;
    }

    .navbar-section h4 {
        width: 130%;
    }

    .header-section {
        height: 168vh;
    }

    .hero-side-images-2 {
        margin-left: -361px;
    }
}

@media only screen and (max-width:767px) {
    .navbar-section {
        display: none;
    }
    .menu-icon {
        display: block !important;
    }
    aside.side-bar {
        /* display: block; */
        height: 100%;
        width: 50%;
        margin-left: -125px;
        margin-top: -64px;
    }

    aside.side-bar ul {
        width: 100%;
    }

    aside.side-bar ul li:nth-child(1) {
        border-bottom: none;
        margin-left: 300px;
    }

    .menu-icon {
        display: block !important;
        margin-left: 577px;
        padding-top: 30px;
    }

    a.menu-icon i {
        font-size: 33px;
        color: #FFF;
    }

    .hero-images {
        display: none;
    }

    .promo-text {
        position: absolute;
        top: 20%;
        left: 10%;
        margin-top: 25px;
        width: 100%;
        text-align: center;
        margin-left: 12%;
    }

    .promo-sub-header {
        width: 38%;
        margin-left: 8%;
        width: 100;
    }

    .promo-title h1 {
        font-size: 60px;
    }

    .header-buttons {
        margin-top: 40px;
        margin-left: 9%;
    }

    .header-section {
        height: 130vh;
    }

   
}

@media only screen and (max-width: 576px) {
    .menu-icon {
        display: block !important;
        margin-left: 460px;
        padding-top: 50px;
    }

    .promo-title h1 {
        font-size: 50px;
    }

    .header-buttons {
        margin-top: 40px;
        margin-left: 3%;
    }

    .header-section {
        height: 118vh;
    }
}