body {
    font-family: "Ubuntu", sans-serif;
}

.hero-section-bg {
    background-image: url("../Images/bg.png");
    position:  relative;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header-section {
    color: #FFF;
    height: 100%;
    height: 120vh;
}

.navbar-section {
    padding: 35px 0px;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}

.navbar-section h4 {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    width: 120%;
}

.menu-links ul {
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-links ul li {
    display: inline-block;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.menu-links ul li a {
    text-decoration: none;
    color: #e1e1e1;
}

.menu-links li:hover a {
    color: #FFF;
}

.menu-icons {
    margin-left: 70px;
}

.menu-icons a {
    color: #FFF;
    padding: 0 18px;
    font-size: 29px;
}

.hero-main-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    display:none;
}



aside.side-bar ul {
    list-style: none;
    text-align: left;
}

aside.side-bar {
    display:none;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    position: fixed;
    background: #fff;
    height: 70%;
    width: 25%;
    text-align: center;
    padding: 79px 20px 0 0;
    z-index:999;
}

.side-bar ul li a {
    text-decoration: none;
    color: 648cff;
    padding-bottom: 15px;
}

aside.side-bar ul li {
    margin-bottom: 24px;
    border-bottom: 0.5px solid #648cff;
}
.promo-text {
    position: absolute;
    top: 35%;
    left: 10%;
    margin-top: 25px;
}

.promo-title {
    width: 57%;
}

.promo-title h1 {
    font-weight: 700;
    margin: 0 0 36px 0;
    font-size: 68px;
}

.promo-sub-header {
    width: 38%;
}


.header-buttons a {
    color: #FFF;
    text-decoration: none;
    padding: 0 auto;
}

.header-buttons {
    margin-top: 35px;
}

.header-buttons a.features-button {
    margin-left: 15px;
    background-color: #4466c9;
    width: 130px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 4px;
    text-align: center;
    padding-top: 12px;
}

.header-buttons a.download-button {
    background-color: #fc6a42;
    width: 130px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 4px;
    text-align: center;
    padding-top: 12px;
}

.hero-images {
    display: flex;
    /* margin: 0 auto; */
    justify-content: flex-start;
    align-items: center;
}

.hero-main-images img {
    display: block;
    margin-top: 73px;
    margin-left: 100px;
    width: 250px;
}

.hero-relative-images {
    position: relative;
}

.hero-side-images-1 {
    position: absolute;
    background-color: #4466c9;
    width: 90px;
    height: 90px;
    margin-top: -16px;
    border-radius: 50%;
    margin-left: 34px;
}

.hero-side-images-1::after {
    position: absolute;
    content: "London";
    z-index: 10;
    top: 37%;
    left: 16%;
    font-size: 17px;
    font-weight: 700;
}

.hero-side-images-2 {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #fc6a42;
    border-radius: 50%;
    margin-left: -381px;
    margin-top: 23px;
    /* z-index: 10; */
}

.hero-side-images-2::after {
    content: "SUNNY";
    position: absolute;
    top: 37%;
    left: 18%;
    font-weight: 700;
    font-size: 17px;
}

.hero-side-images-3 {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #FFF;
    border-radius: 50%;
    margin-top: -186px;
    margin-left: 11px;
}

.hero-side-images-3::after {
    content: "9\00B0";
    color: #6ca3ff;
    top: 34%;
    position: absolute;
    left: 42%;
    font-size: 17px;
    font-weight: 700;
}

.hero-side-images-4 {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fcec64;
    border-radius: 50%;
    margin-top: 269px;
    margin-left: 10px;
    /* content: "RIO"; */
}

.hero-side-images-4::after {
    position: absolute;
    content: "RIO";
    font-weight: 700;
    font-size: 17px;
    top: 29%;
    left: 26%;
}

.hero-side-images-5 {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #FFF;
    border-radius: 50%;
    margin-top: 350px;
    margin-left: -406px;
}

.hero-side-images-5::after {
    position: absolute;
    content: "\2193";
    color: #ff5e62;
    top: 9%;
    left: 37%;
    font-size: 30px;
}

.public-features-section {
    margin: 90px 0 0 0;
}

.public-feature-full-icon {
    margin-bottom: 20px;
}

.public-features-section-title {
    text-align: center;
    margin-bottom: 55px;
}

.public-features-section-title h2 {
    text-transform: uppercase;
    color: #648cff;
    font-weight: 700;
}


.public-features-section-title  p {
    color: #c2c2c2;
}

.public-feature-text {
    margin-left: 15px;
}

.public-feature-text h4 {
    font-weight: 700;
}

.public-feature-text p {
    font-weight: 400;
    color: #c2c2c2;
}

.simple-widgets-title {
    text-align: center;
    margin-bottom: 50px;
}

.simple-widgets--screenshots-and-quote-section {
    margin-top: 95px;
}

.simple-widgets-title h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #648cff;
}

.simple-widgets-title  p {
    color: #c2c2c2;
    font-weight: 400;
}

.slider-images .item img {
    display: block;
    margin: 0 auto;
}

.screenshots-title {
    text-align: center;
    margin-bottom: 100px;
}

.screenshots-section {
    margin-top: 100px;
}

.screenshots-title h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #648cff;
}

.screenshots-title p {
    color: #c2c2c2;
    font-weight: 400;
}

.screenshot-first-section-side-images {
    position: relative;
}

.screenshot-first-section-side-image-1 {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fcec64;
    bottom: 374px;
    left: 245px;
}

.screenshot-first-section-side-image-1::after {
    content: "Cloudy";
    top: 33%;
    position: absolute;
    left: 10%;
    font-weight: 700;
    color: #FFF;
    font-size: 22px;
}

.screenshot-first-section-side-image-2 {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #6ca3ff;
    bottom: 200px;
    left: -47px;
}

.screenshot-first-section-side-image-2::after {
    position: absolute;
    content: "15\00B0";
    top: 35%;
    left: 35%;
    font-size: 17px;
    color: #FFF;
    font-weight: 700;
    font-size: 22px
}


p.first-section-text {
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 208px;
    margin-top: -616px;
    margin-left: 167px;
    color: #f4f4f7;
    z-index: -1;
}

.screenshot-first-section-text {
    margin-top: 43%;
    margin-bottom: -20%;
}

.screenshot-first-section-text-area {
    line-height: 32px;
}

.screenshots-first-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenshot-first-section-text-area h3 {
    color: #648cff;
    font-weight: 700;
    font-size: 50px;
    width: 109%;
    margin-bottom: 20px;
}

.screenshot-first-section-text-area p {
    width: 60%;
    color: #353854;
}

.screenshot-first-section-text-area {
    position: relative;
    line-height: 32px;
}

.secreen-first-section-text-icon {
    position: absolute;
    content: url(../Images/rain_icon.png);
    width: 6%;
    margin-top: -292px;
    height: 92px;
    margin-left: -9px;
}

.screenshots-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 198px;
}

.screenshot-second-section-side-images {
    position: relative;
}

.screenshot-second-section-side-image-1 {
    position: absolute;
    background-color: #f2a14e;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    bottom: 392px;
    left: 251px;
}

.screenshot-second-section-side-image-1::after {
    position: absolute;
    content: "Sunny";
    top: 32%;
    left: 16%;
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
}

.screenshot-second-section-side-image-2 {
    width: 90px;
    height: 90px;
    background-color: #fc6a42;
    border-radius: 50%;
    position: absolute;
    bottom: 194px;
    left: -47px;
}

.screenshot-second-section-side-image-2::after {
    position: absolute;
    content: "15\00B0";
    top: 34%;
    left: 32%;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
}

.screenshot-first-section-round-text-images {
    position: relative;
}

.screenshot-first-section-round-text-image-1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 0px 3px #c3cfe5;
    z-index:10;
}

.screenshot-first-section-round-text-image-1::after {
    position: absolute;
    content: "95%";
    top: 30%;
    left: 26%;
    color: #c3cfe5;
    font-weight: 700;
}

.screenshot-first-section-round-text-image-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 0px 3px #c3cfe5;
    z-index:9;
    left: 39px;
}

.screenshot-first-section-round-text-image-2::after {
    position: absolute;
    content: "9\00B0";
    top: 30%;
    left: 45%;
    color: #c3cfe5;
    font-weight: 700;
}

.screenshot-first-section-round-text-image-3 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 0px 3px #c3cfe5;
    z-index:8;
    left: 80px;
}

.screenshot-first-section-round-text-image-3::after {
    position: absolute;
    content: "Rainy";
    top: 30%;
    left: 17%;
    color: #c3cfe5;
    font-weight: 700;
}

.screenshot-second-section-text-area {
    position: relative;
    line-height: 32px;
}


.screenshot-second-section-text {
    margin-top: 43%;
    margin-bottom: -20%;
    position: relative;
}


.screenshot-second-section-text-area h3 {
    color: #648cff;
    font-weight: 700;
    font-size: 50px;
    width: 109%;
    margin-bottom: 20px;
}

.screenshot-second-section-text-area p {
    width: 60%;
    color: #353854;
}

.secreen-second-section-text-icon {
    position: absolute;
    content: url(../Images/icon.png);
    bottom: 205px;
    left: -6px;
}

.screenshot-second-section-round-text-images {
    position: relative;
}

.screenshot-second-section-round-text-image-1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 0px 3px #c3cfe5;
    z-index:10;
}

.screenshot-second-section-round-text-image-1::after {
    position: absolute;
    content: "95%";
    top: 30%;
    left: 26%;
    color: #c3cfe5;
    font-weight: 700;
}

.screenshot-second-section-round-text-image-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 0px 3px #c3cfe5;
    z-index:9;
    left: 39px;
}

.screenshot-second-section-round-text-image-2::after {
    position: absolute;
    content: "9\00B0";
    top: 30%;
    left: 45%;
    color: #c3cfe5;
    font-weight: 700;
}

.screenshot-second-section-round-text-image-3 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 2px 0px 3px #c3cfe5;
    z-index:8;
    left: 80px;
}

.screenshot-second-section-round-text-image-3::after {
    position: absolute;
    content: "Rainy";
    top: 30%;
    left: 17%;
    color: #c3cfe5;
    font-weight: 700;
}

.secreenshot-second-section-text p.second-section-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    position: absolute;
    font-size: 208px;
    margin-top: -582px;
    margin-left: 167px;
    color: #f4f4f7;
    z-index: -1;
}